__pycache__/
*.egg-info/
*.spec
*.log
*.db
*.sqlite
*.pypackage
*.egg
*.py[co]
*~
*.swp
.DS_Store
.env
.env.example
.tox
.nox
.coverage
.cache
nosetests.xml
coverage.xml
*.pot
*.mo
local_settings.py
instance
dist
build
docs/_build
.tox/
.nox/
.pytest_cache/
.ipynb_checkpoints/
